dist: trusty
sudo: require
language: cpp
os:
  - linux
compiler:
  - gcc
cache: ccache
python:
  - "2.7"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - cmake
      - libboost-program-options-dev
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade pyenv   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then eval "$(pyenv init -)"   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv install 2.7.6   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv global 2.7.6   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv rehash   ; fi
  - pip install --user cpp-coveralls
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv rehash   ; fi
install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 50 ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 50 ; fi
  - pip install --user rmtest
before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Debug -DCODE_COVERAGE=ON ..
script:
  - make
  - make test ARGS="-V"
after_success:
#  - coveralls -i src --exclude CMakeFiles --exclude test --exclude redis --exclude vowpal_wabbit --exclude redis_modules_sdk --gcov-options '\-lp'
  - lcov --directory . --capture --output-file coverage.info
  - lcov --remove coverage.info 'redis/*' 'vowpal_wabbit/*' 'redis_modules_sdk/*' 'test/*' '/usr/*' --output-file coverage.info
  - lcov --list coverage.info
  - coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info
