dist: trusty
sudo: require
language: cpp
compiler: gcc
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      - cmake
      - libboost-program-options-dev
script:
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 50
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 50
  - cmake .
  - make
