dist: trusty
sudo: require
language: cpp
os:
  - linux
  - osx
compiler:
  - gcc
  - clang
cache: ccache
python:
  - "2.7"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      - cmake
      - libboost-program-options-dev
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install pyenv   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then eval "$(pyenv init -)"   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv install 2.7.6   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv global 2.7.6   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv rehash   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip install cpp-coveralls   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pyenv rehash   ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip install --user cpp-coveralls ; fi
install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 50 ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 50 ; fi
  - pip install -U rmtest
before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Debug -DCODE_COVERAGE=ON ..
script:
  - make
  - make test ARGS="-V"
after_success:
  - coveralls --exclude test --gcov-options '\-lp'