dist: trusty
sudo: require
language: cpp
compiler: gcc
cache: ccache
python:
  - "2.7"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      - cmake
      - libboost-program-options-dev
before_install:
  - pip install --user cpp-coveralls
install:
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 50
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 50
  - sudo pip install -U rmtest
before_script:
  - mkdir build
  - cd build
  - cmake ..
script:
  - make
  - make test ARGS="-V"
after_success:
  - coveralls --exclude test --gcov-options '\-lp'